
  //preview profil of employee 
  .colom{
    margin: 5px;
    margin-top: 15px;
  }

  .colom img {
    border-radius: 5%;
  }

  .row{
    margin: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75)
  }

  h5{
  border-bottom: 1px double;
  border-width: 3px;
  color:  #3790de;
  }

  h6{
    color: #21598a;
    text-align: center;
    font-weight: bold;
  }

  p{
  text-align: center;
  }

  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

.colPerson{
  display: inline-block;
}

.buttonProfile{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-person{
  border: black 1px solid;
}