

//image settings
#test1{
    width: 100%;
    height: 500px;
  }
  //preview profil of employee 
  .colom{
    margin: 5px;
  }
  .row{
    border:4px red solid;
    margin: 50px;
  }
  h5{
  border-bottom: 2px black solid;
  }
  p{
  display: inline-block;
  }
  .buttonProfile{
  margin: 10px 0px 10px 60px;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  